.ltn-de-sqc {
  display: flex;
  flex-direction: column;
}

.ltn-de-sqc-sequence {
  display: inline-block;
  align-self: center;
}

.ltn-de-sqc-sequence > h2 {
  display: inline-block;
  margin: 0.5em;
  font-weight: 500;
}

.ltn-de-sqc > ul {
  list-style-type: none;
  padding: 0;
}

.ltn-de-sqc > ul > li {
  margin-bottom: 1em;
  cursor: pointer;
}

.ltn-de-sqc > ul > li > span {
  margin-left: 0.5em;
}

@media (max-width: 640px) {
  .ltn-de-sqc-sequence > h2 {
    font-size: 0.8rem;
  }
}
