.mt-de-navbar {
  display: flex;
  justify-content: space-between;
  background: var(--primary-color-0);
  color: white;
  padding: 0.5em 10em;
}

.mt-de-navbar > h2 {
  margin: 0;
}

@media (max-width: 840px) {
  .mt-de-navbar {
    padding: 0.5em 4em;
  }
}
