.mt-de-navbar {
  display: flex;
  justify-content: space-between;
  background: var(--primary-color-0);
  color: white;
  padding: 0.5em 1em;
}

.mt-de-navbar > div {
  display: flex;
  justify-content: space-between;
}
