.mt-de-navbar {
    display: flex;
    justify-content: space-between;
    background: var(--main-bg-color);
    color: white;
    padding: 0.5em 1em;
}

.mt-de-navbar > div {
    display: flex;
    justify-content: space-between;
}

.mt-de-navbar > div > button {
    border: 0.25em solid white;
    border-radius: 1em;
    background: var(--main-bg-color);
    color: white;
    margin: 0 0.5em;
    padding: 0.5em;
    cursor: pointer;
}

.mt-de-navbar > div > button:focus {
    outline: none;
}